/*-----------------------------------------------
                     Using fonts
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*-------------------------------------------------------------
                        common style and utilits
--------------------------------------------------------------*/

html, body{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    position: relative;
}

/*-----------------------------------------------------------
                             header CSS
-------------------------------------------------------------*/

#header{
     background-color: #34009C; 
     width: 100%;
     height: 677px;
}

         /*-------------------------------------------
                        NavBar CSS
         -------------------------------------------*/

nav{
    display: flex;
    justify-content: space-around;
    height: 44px;
    padding-top: 52px;
    align-items: center;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 36px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

nav a:hover{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(7, 93, 173, 0.918);
    box-shadow: 0 0 3px 3px #f0f0f0cc;
}

.fa-sign-in-alt{
    margin-right: 10px;
}
.login-btn, .common-btn{
    width: 123px;
    height: 44px;
    background-color: #C0316F;
    border: none;
    color: #fff;
    font-size: 16px;
    padding-bottom: 8px;
}


/*-----------------------------------------------------------
                             Banner CSS
-------------------------------------------------------------*/

#banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 49px;
}
.banner-details{
    padding-left: 120px;
    transition: .5s;
}

.banner-details:hover{
    transform: scale(1.2);
}
#banner-title{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 27px;
    line-height: 80px;
}
.common-btn{
    width: 168px;
}
.banner-img{
    width: 556px;
    height: 438px;
    transition: .5s;
}

.banner-img:hover {
    transform: scale(1.4);
} 

/*-----------------------------------------------------------
                             players Card CSS
-------------------------------------------------------------*/

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    place-items: center;
    margin-top: 70px; 
    padding-left: 120px;
    padding-right: 110px;
}

.player{
    width: 315px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.233);
    padding-left: 15px;
    transition: .4s;
}

.player:hover{
    transform: scale(1.1);

}

.player-img{
    width: 300px;
    height: 256px;
    padding-top: 15px;
}

.player-info{
    width: 300px;
    height: 154px;
}

.player-name{
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: #18191F;
    margin-top: 20px;
    margin-bottom: 10px;
}
.player-details, .highlights-details{
    font-size: 16px;
    font-weight: 400px;
    line-height: 16px;
    color: #6C6C6C;
}

/*-----------------------------------------------------------
                             Highlights CSS
-------------------------------------------------------------*/

#highlights{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 165px;
    padding-left: 140px;
    padding-right: 70px;
    margin-bottom: 100px;
}
.highlights-info{
    width: 466px;
    height: 309px;
    margin-right: 20px;
}

#highlights-title{
    font-size: 45px;
    line-height: 60px;
}

.highlights-details{
    margin-bottom: 24px;
}

#highlights img{
    width: 567px;
    height: 427px;
}


/*-----------------------------------------------------------
                             Sponsors CSS
-------------------------------------------------------------*/

#sponsors{
    width: 100%;
    height: 470px;
    background-color: rgba(0, 0, 0, 0.089);
}

.platium-sponsors{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: center;
}

.platium-sponsors img{
    width: 280px;
}

.dimond-sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dimond-sponsors li{
    list-style: none;
    margin: 0 20px;
}

.dimond-sponsors img{
    width: 180px;
}


.platium-sponsors li{
    list-style: none;
}


/*-----------------------------------------------------------
                             Footer CSS
-------------------------------------------------------------*/


footer{
    text-align: center;
    margin-top: 158px;
    margin-bottom: 63px;
}
.logo img{
    width: 484px;
    height: 110px;
}

.social-icons{
    justify-content: center;
}

.social-icons li{
    width: 32px;
    height: 32px;
    color: #969BAB;
    background-color: #969bab48;
    margin-right: 18px;
    border-radius: 50%;
}
.fab, .fas{
    padding-top: 8px;
}
footer p{
    font-size: 18px;
    padding-left: 20px;
}


/*-----------------------------------------
         Reponsive Design CSS
----------------------------------------- */


   /* Large Screen */

@media only screen  and (min-width : 1312px) {
    .players {
        padding-left: 285px;
        padding-right: 210px;
    }

    #highlights {
        padding-left: 190px;
        padding-right: 50px;
    }
    .highlights-info{
        margin-left: 20px;
    }
}
 
@media only screen and (min-width:993px) and (max-width: 1311px){
 
}

@media only screen and (min-width:689px) and (max-width: 992px){
  
}
 
@media only screen and (max-width:688px){

    nav{
        display: none;
    }

    #banner{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
    }

    .banner-details{
        padding: 0;
        margin-bottom: 100px;
        margin-left: 20px;
    }

    #banner-title{
        font-size: 36px;
        line-height: 50px;
    }

    .banner-img{
        width: 350px;
        height: 270px;
        margin-left: 40px;
    }
    
    .players{
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }


    #highlights{
        flex-direction: column;
        margin-top: 60px;
        padding-left: 0px;
        padding-right: 10px;
    }


    .highlights-info {
        width: 330px;
        height: 299px;
        margin-right: 0;
        margin-bottom: 30;
    }

    #highlights-title{
        font-size: 30px;
        line-height: 40px;
    }

    #highlights img{
        width: 328px;
        height: 248px;
    }

    #sponsors {
        height: 250px;
    }
    .platium-sponsors img {
        width: 120px;
    }

    .dimond-sponsors img {
        width: 45px;
    }

    footer {
        margin-top: 50px;
        margin-bottom: 60px;
    }

    .logo img {
        width: 276px;
        height: 63px;
    }
}
  